apiVersion: apps/v1
kind: Deployment
metadata:
  name: artgallery-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: artgallery-frontend
  template:
    metadata:
      labels:
        app: artgallery-frontend
    spec:
      containers:
      - name: artgallery-frontend
        image: boppanadeekshith/artgallery-frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: artgallery-frontend-service
spec:
  selector:
    app: artgallery-frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
  type: NodePort
